<header class="mb-8 lg:mb-10 flex items-center px-3 py-3 lg:py-5 lg:px-5 dark:bg-zinc-800 bg-zinc-200 sticky top-0 z-10 shadow-card4">
    <div class="flex items-center gap-3 flex-grow">
        <button id="menu-toggle" class="lg:hidden">
            <i class="bi bi-list text-2xl"></i>
        </button>
        <div class="m-0 lg:text-2xl lg:mr-10 lg:flex lg:items-center">
            <img src="{{ asset "images/favicon.png" }}" class="h-8 mr-3 hidden lg:block" />
            <a href="{{ @site.url }}" style="text-decoration"><strong>Daniele Castiglia</strong></a>
        </div>
        <div class="hidden lg:block">
            {{navigation}}
        </div>
    </div>
    {{> "color_mode_switch"}}
    <div id="navigation" class="lg:hidden flex flex-col items-start z-50 duration-500 dark:bg-zinc-800 bg-zinc-300 translate-x-backAll fixed left-0 top-0 h-screen w-sidebar p-5">
        <button id="close-sidebar">
            <i class="bi bi-x text-2xl opacity-60" style="margin-left: -6px;"></i>
        </button>
        <nav class="mt-4">
            {{navigation}}
        </nav>
        <div class="mt-auto">
            {{> "partials/socials" mb="mb-3" linkAdditionalClasses="opacity-60 hover:opacity-100"}}
            <p class="text-center text-sm opacity-60">Copyright&copy; Daniele Castiglia</p>
        </div>
    </div>
    <div class="z-20 hidden fixed top-0 left-0 duration-500 backdrop h-screen w-screen bg-zinc-900 transition-opacity opacity-0"></div>
</header>
<script type="module">
    import reflow from "{{ asset "js/reflow.js" }}";

    let menuOpen = false;
    const menuToggle = document.getElementById("menu-toggle");
    const aside = document.querySelector("header #navigation");
    const closeSidebarBtn = document.getElementById("close-sidebar");
    const backdrop = document.querySelector("header .backdrop");

    aside.classList.remove("transition-transform");
    aside.classList.add("transition-transform");

    menuToggle.addEventListener("click", () => {
        aside.style.height = `${window.innerHeight}px`;
        reflow(aside);
        menuOpen = !menuOpen;
        aside.classList.add("translate-x-initial");
        aside.classList.remove("translate-x-backAll");
        document.body.classList.toggle("overflow-hidden");

        backdrop.classList.remove("hidden");
        reflow(backdrop);
        backdrop.classList.remove("opacity-0");
        backdrop.classList.add("opacity-80");

        backdrop.addEventListener("click", closeSidebar);
        closeSidebarBtn.addEventListener("click", closeSidebar);
    });

    function closeSidebar() {
        menuOpen = false;
        aside.classList.remove("translate-x-initial");
        aside.classList.add("translate-x-backAll");
        document.body.classList.remove("overflow-hidden");

        backdrop.addEventListener("transitionend", () => {
            backdrop.classList.add("hidden");
            aside.style.height = null;
            reflow(aside);
        }, { once: true });

        backdrop.classList.remove("opacity-80");
        backdrop.classList.add("opacity-0");

        backdrop.removeEventListener("click", closeSidebar);
        closeSidebarBtn.removeEventListener("click", closeSidebar);
    }
</script>