<div class="card">
    <a href="{{url}}" class="image">
        <img loading="lazy" src="{{img_url feature_image size=" xl"}}"
            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
            srcset="{{img_url feature_image size=" s"}} 300w, {{img_url feature_image size="m" }} 600w, {{img_url
            feature_image size="l" }} 1000w, {{img_url feature_image size="xl" }} 2000w"
            sizes="(min-width: 1400px) 1400px, 92vw" />
        <div class="go-to">
            <i class="bi bi-arrow-up-short"></i>
        </div>
    </a>
    {{> "partials/project-info"}}
    <h4><a href="{{url}}">{{title}}</a></h4>
    <p>{{excerpt words="30"}}</p>
</div>
