<!DOCTYPE html>
<html lang="{{@site.locale}}" data-theme="dark">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" as="style" href="{{asset "css/style.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
      rel="stylesheet">
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    {{ghost_head}}
  </head>
  <body>
    <script>
      const htmlEl = document.querySelector('html');
      const currentTheme = localStorage.getItem('theme');
      if (currentTheme) {
        htmlEl.setAttribute('data-theme', currentTheme);
      } else {
        localStorage.setItem('theme', htmlEl.getAttribute('data-theme') ?? 'dark');
      }
    </script>
    <img loading="lazy" src="{{asset "images/left.svg"}}" alt="" class="bg bg-left">
    <main>
      {{> "color_mode_switch"}}
      {{{ body }}}
    </main>
    {{> "footer"}}
    {{ghost_foot}}
  </body>
</head>
