{{!< layout}}

<progress class="reading-progress" value="0" max="100" aria-label="Reading progress"></progress>

<article class="post">
    <a href="/" class="back">
        <i class="bi bi-arrow-left-short"></i>
        <p>Home</p>
    </a>
    {{#post}}
        {{#if feature_image}}
            <div class="image">
                <img
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                    sizes="(min-width: 1400px) 1400px, 92vw"
                    src="{{img_url feature_image size="xl"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                    class="{{#has tag="#contain-image"}}img-contain{{/has}}"
                />
            </div>
        {{/if}}
        {{> "partials/article-info" }}
        <div id="article-content" class="content">
            <h1>{{title}}</h1>
            {{{content}}}
        </div>
    {{/post}}
</article>

{{#post}}
    {{> "latest-articles" excludeId="{{id}}"}}
{{/post}}
